.page-body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background-color: $white;
  padding: 0;
  margin: auto;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
